---
title: Test page for <svg>
route: test
---

{% include document-header.html %}

<body class="{{ page.route }}">
	<div class="site-main">

		<svg>
			<use xlink:href="#logotype"/>
		</svg>

		<svg>
			<use xlink:href="#brandmark-color"/>
		</svg>

		<svg>
			<use xlink:href="#brandmark-grayscale"/>
		</svg>

		<svg>
			<use xlink:href="#landing-features"/>
		</svg>

		<svg>
			<use xlink:href="#landing-integration"/>
		</svg>

		<svg>
			<use xlink:href="#landing-security"/>
		</svg>

		<svg>
			<use xlink:href="#features-online-payments"/>
		</svg>

		<svg>
			<use xlink:href="#features-fraud-detection"/>
		</svg>

		<svg>
			<use xlink:href="#features-one-click-payments"/>
		</svg>

		<svg>
			<use xlink:href="#features-bin-routing"/>
		</svg>

		<svg>
			<use xlink:href="#pricing-one-off-setup-fee"/>
		</svg>

		<svg>
			<use xlink:href="#pricing-transaction-fees"/>
		</svg>

		<svg>
			<use xlink:href="#pricing-monthly-fees"/>
		</svg>

		<svg>
			<use xlink:href="#credit-cards-grayscale"/>
		</svg>

		<svg>
			<use xlink:href="#credit-cards-color"/>
		</svg>

		<svg>
			<use xlink:href="#tech-support"/>
		</svg>

		<svg>
			<use xlink:href="#general-inquiries"/>
		</svg>

	</div>
</body>

{% include document-footer.html %}