//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Utility                                                      /
//         TITLE: Breakpoints                                                  /
//                                                                             /
//=============================================================================/

$breakpoint-to-ems: true;

$phone: 321px;

$phoneL: 481px;

$phablet: 533px;

$tablet: 769px;

$laptop: 981px;

$desktop: 1201px;

// $large: 1360px;

// $larger: 1600px;