//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Utility                                                      /
//         TITLE: Font definitions for IE                                      /
//                                                                             /
//=============================================================================/

// Freight Sans

%freightSansLight {
  font-family: "freight-sans-pro-n3","freight-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
}

%freightSansLightItalic {
  font-family: "freight-sans-pro-i3","freight-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 300;
}

%freightSansBook {
  font-family: "freight-sans-pro-n4","freight-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}

%freightSansBookItalic {
  font-family: "freight-sans-pro-i4","freight-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 400;
}

%freightSansMedium {
  font-family: "freight-sans-pro-n5","freight-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 500;
}

%freightSansMediumItalic {
  font-family: "freight-sans-pro-i5","freight-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 500;
}

%freightSansSemibold {
  font-family: "freight-sans-pro-n6","freight-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
}

%freightSansSemiboldItalic {
  font-family: "freight-sans-pro-i6","freight-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
}

%freightSansBold {
  font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
}

%freightSansBoldItalic {
  font-family: "freight-sans-pro-i7","freight-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 700;
}

// Freight Text

%freightTextLight {
  font-family: "freight-text-pro-n3","freight-text-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
}

%freightTextLightItalic {
  font-family: "freight-text-pro-i3","freight-text-pro",sans-serif;
  font-style: italic;
  font-weight: 300;
}

%freightTextBook {
  font-family: "freight-text-pro-n4","freight-text-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}

%freightTextBookItalic {
  font-family: "freight-text-pro-i4","freight-text-pro",sans-serif;
  font-style: italic;
  font-weight: 400;
}

%freightTextMedium {
  font-family: "freight-text-pro-n5","freight-text-pro",sans-serif;
  font-style: normal;
  font-weight: 500;
}

%freightTextMediumItalic {
  font-family: "freight-text-pro-i5","freight-text-pro",sans-serif;
  font-style: italic;
  font-weight: 500;
}

%freightTextSemibold {
  font-family: "freight-text-pro-n6","freight-text-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
}

%freightTextSemiboldItalic {
  font-family: "freight-text-pro-i6","freight-text-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
}

%freightTextBold {
  font-family: "freight-text-pro-n7","freight-text-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
}

%freightTextBoldItalic {
  font-family: "freight-text-pro-i7","freight-text-pro",sans-serif;
  font-style: italic;
  font-weight: 700;
}