//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Utility                                                      /
//         TITLE: Font Definitions                                             /
//                                                                             /
//=============================================================================/

%avenirLight {
  font-family:'Avenir LT W01_35 Light';
  font-style: normal;
  font-weight: 300;
}

%avenirLightItalic {
  font-family:'AvenirLTW01-35LightObli';
  font-style: italic;
  font-weight: 300;
}

%avenirBook {
  font-family:'Avenir LT W01_45 Book';
  font-style: normal;
}

%avenirBookItalic {
  font-family:'AvenirLTW01-45BookObliq';
  font-style: italic;
  // font-weight: 700;
}

%avenirRoman {
  font-family:'Avenir LT W01_55 Roman';
  font-style: normal;
}

%avenirMedium {
  font-family:'Avenir LT W01_65 Medium';
  font-style: normal;
}