//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Utility                                                      /
//         TITLE: Scaffolding                                                  /
//                                                                             /
//=============================================================================/

html {
  font: normal 87.5%/2 sans-serif;
}

body {
  @extend %avenirBook;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;
}

// <div>
.site-main {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  background-color: #fefefe;
  box-shadow: 0 0 70px -4px rgba(18, 18, 18, 0.55),
}

// <svg> sprite sheet (display:none; breaks the gradients)
.sprite-sheet {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}