//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Organism                                                     /
//         TITLE: Language toggle bar                                          /
//                                                                             /
//=============================================================================/

// <div>
.language-toggle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  background-color: #303030;
  // border-bottom: 2px solid #4c4c4c;
}

// <ul>
.languages {
  @extend %nav;
  position: absolute;
  right: 2rem;
}

  .languages li {
  }

  .languages a {
    padding: 5px 20px;
    font-size: 13px;

    &:link,
    &:active,
    &:visited {
      color: #8c8c8c;
    }

    &:hover,
    &:focus {
      color: lighten(#84AADD, 15);
    }
  }

  .languages li:not(:last-of-type) {
    border-right: 1px solid #4c4c4c;
  }