//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Organism                                                     /
//         TITLE: Splash grid                                                  /
//                                                                             /
//=============================================================================/

.grid {
  position: relative;
  line-height: 0;
  background: linear-gradient(110deg, rgba(78,153,204,1) 0%, rgba(76,128,204,1) 50%, rgba(74,85,204,1) 100%);
}

  img.grid-img {
    width: 25%;
    opacity: 0;
    transition: 450ms opacity;
    -webkit-filter: grayscale(95%);
  }

  img.grid-img.visible {
    opacity: .75;
    transition: 450ms opacity;
  }

.bg-shim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: linear-gradient(110deg, rgba(78,153,204,0.85) 0%, rgba(76,128,204,0.85) 50%, rgba(74,85,204,0.85) 100%);
  z-index: 9;
}

.hero-alt {
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  z-index: 19;
  opacity: 0;
  @include transform(translateX(-5%));
}

.hero-alt.visible {
  opacity: 1;
  @include transform(translateX(0));
  @include transition(all 900ms);
}

.hero-alt .content {
  position: relative;
}

.hero-alt .content img {
  padding-left: 0.7rem;
  width: 13rem;
}

.hero-alt .merchants,
.hero-alt .developers {
  color: #fafafa;
  border-color: #fafafa;

  &:hover,
  &:focus {
    background-color: #fafafa;
    border-color: #fafafa;
  }
}

.hero-alt .merchants:hover,
.hero-alt .merchants:focus {
  color: #069de1;
}

.hero-alt .developers:hover,
.hero-alt .developers:focus {
  color: #244ea1;
}