//=============================================================================/
//                            ALBERT YU & CO.                                  /
//=============================================================================/
//                                                                             /
//       PROJECT: 141102                                                       /
//        CLIENT: IPGPAY + BeansBox                                            /
//   DELIVERABLE: Static front-end prototype                                   /
//         CLASS: Organism                                                     /
//         TITLE: Splash video                                                 /
//                                                                             /
//=============================================================================/

.splash {
  position: relative;
}

// <video>
.splash-video {
  position: relative;
  display: block;
  width: 100%;
}

// <div>
//  Control the darkness/lightness of the video and overlay with
//  background-color on this div
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.88);
}

.content {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

  /* .content img {
    display: block;
    margin: 0 auto 1.5rem;
    padding-left: 5.7rem;
    width: 23rem;
  } */

  .content .logo {
    // margin-left: 4.3rem;
    width: 14rem;
    height: 3rem;
    margin-bottom: 1.4rem;
  }

  .content h1 {
    color: #eaeaea;
    line-height: 1.375;
    font-size: 2.25rem;
    text-shadow: 1px 1px 1px rgba(48, 48, 48, 0.75);
    margin-top: -1.6rem;
    margin-bottom: 2.5rem;

  }

  .content .btn-hero-cta {
    display: inline-block;
    padding: 0.3rem 2.5rem;
    border: 1px solid #a8a8a8;
    border-radius: 26px;
    background-color: rgba(250, 250, 250, 0.125);

    font-size: 1.1rem;
    line-height: 2;
    color: #bfbfbf;

    &.merchants {
      margin-right: 1.25rem;

      &:hover,
      &:focus {
        color: #fafafa;
        background-color: #069de1;
        border-color: #069de1;
        @include transition(all 350ms);
      }
    }

    &.developers {
      &:hover,
      &:focus {
        color: #fafafa;
        background-color: #244ea1;
        border-color: #244ea1;
        @include transition(all 350ms);
      }
    }
  }

  .content .credit-card-strip {
    display: block;
    margin: 4.5rem auto 0;
    opacity: 0.875;
    width: 18rem;
    height: 45px;
  }