<!doctype html>
<html class="no-js {{ page.route }}" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/manifest.css">
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/8b2b2787-fd55-4a20-a0a9-356e0f956ea4.js"></script>
  <script src="/js/modernizr.custom.js"></script>
</head>

<!-- SVG SPRITE SHEET -->
{% include icons.svg %}