<footer class="footer dark">
	<section class="ft-col">
		<h4>Features</h4>
		<ul>
			<li><a href="#">Payment Processing</a></li>
			<li><a href="#">Hosted Payment Pages</a></li>
			<li><a href="#">Direct Integration API</a></li>
			<li><a href="#">Security</a></li>
			<!-- <li><a href="#">Fraud Detection</a></li> -->
			<!-- <li><a href="#">Risk Manaagement</a></li> -->
		</ul>
	</section>

	<section class="ft-col">
		<h4>IPGPAY</h4>
		<ul>
			<li><a href="#">Developers</a></li>
			<li><a href="#">FAQs</a></li>
			<!-- <li><a href="#">Support</a></li> -->
			<li><a href="#">Pricing</a></li>
		</ul>
	</section>

	<section class="ft-col">
		<svg class="logo-element-grayscale" id="logo-element-grayscale">
			<use xlink:href="#icon-element-grayscale" />
		</svg>
	</section>


	<section class="ft-col">
		<h4>Company</h4>
		<ul>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</section>

	<section class="ft-col">
		<h4>Legal</h4>
		<ul>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Limitations</a></li>
			<li><a href="#">Disclaimer</a></li>
		</ul>
	</section>
</footer>